<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tech Blog</title>
    <meta content="Ikenna Chukwu DIVIne tech blog" name="description">
    <meta content="tech, blog, digital blog, smart blog, coding" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link th:href="@{/assets/css/variables.css}" rel="stylesheet">
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <!-- =======================================================
    * Template Name: ZenBlog - v1.2.1
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">

            <h1>SoundMind</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/blog}">Feed</a></li>
                <li sec:authorize="hasAuthority('Administrator')"><a  th:href="@{/category}">Category</a></li>
                <li  sec:authorize="hasAnyRole('Administrator', 'Editor')"><a th:href="@{/post}">Post</a></li>
                <li sec:authorize="hasRole('Administrator')"><a  th:href="@{/user}">Users</a></li>
                <li><a th:href="@{/blog}">About</a></li>
                <li><a th:href="@{/blog}">Contact</a></li>
            </ul>
            <form th:action="@{/logout}" method="post">
                <button style="padding-left:10px;" sec:authorize="isAuthenticated()" class="btn btn-default" type="submit">logout</button>
            </form>
            <a style="padding-left:10px;" sec:authorize="isAnonymous()" class="btn btn-default"  th:href="@{/login}">login</a>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
            <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
            <a href="#" class="mx-2"><span class="bi-instagram"></span></a>
            <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->

<main id="main">

   <div layout:fragment="content">
       <div  class="text-right">
           <form th:action="@{/logout}" method="post"> <input type="submit" value="Sign Out" /> </form></div>


   </div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

<!--    <div class="footer-content">-->
<!--        <div class="container">-->

<!--            <div class="row g-5">-->
<!--                <div class="col-lg-4">-->
<!--                    <h3 class="footer-heading">About Tech Blog</h3>-->
<!--                    <p>We are a team of rising tech writing giant. We offer anything software technical documentation, instructional tech materials and a whole lot more. We are simply the best. </p>-->
<!--                    <p><a href="about" class="footer-link-more">Learn More</a></p>-->
<!--                </div>-->
<!--                <div class="col-6 col-lg-2">-->
<!--                    <h3 class="footer-heading">Navigation</h3>-->
<!--                    <ul class="footer-links list-unstyled">-->
<!--                        <li><a href="index"><i class="bi bi-chevron-right"></i> Home</a></li>-->
<!--                        <li><a href="blog"><i class="bi bi-chevron-right"></i> Blog</a></li>-->
<!--                        <li><a href="category"><i class="bi bi-chevron-right"></i> Categories</a></li>-->
<!--&lt;!&ndash;                        <li><a href="single"><i class="bi bi-chevron-right"></i> Single Post</a></li>&ndash;&gt;-->
<!--                        <li><a href="about"><i class="bi bi-chevron-right"></i> About us</a></li>-->
<!--                        <li><a href="contact"><i class="bi bi-chevron-right"></i> Contact</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="col-6 col-lg-2">-->
<!--                    <h3 class="footer-heading">Categories</h3>-->
<!--                    <ul class="footer-links list-unstyled">-->
<!--                        <li><a href="category"><i class="bi bi-chevron-right"></i> Security</a></li>-->
<!--                        <li><a href="category"><i class="bi bi-chevron-right"></i> Data Science</a></li>-->
<!--                        <li><a href="category"><i class="bi bi-chevron-right"></i> Software Engineering</a></li>-->
<!--                        <li><a href="category"><i class="bi bi-chevron-right"></i>BlockChain Technology </a></li>-->


<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="col-lg-4">-->
<!--                    <h3 class="footer-heading">Recent Posts</h3>-->

<!--                    <ul class="footer-links footer-blog-entry list-unstyled">-->
<!--                        <li>-->
<!--                            <a href="single-post.html" class="d-flex align-items-center">-->
<!--                                <img src="assets/img/post-sq-1.jpg" alt="" class="img-fluid me-3">-->
<!--                                <div>-->
<!--                                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
<!--                                    <span>5 Great Startup Tips for Female Founders</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a href="single-post.html" class="d-flex align-items-center">-->
<!--                                <img src="assets/img/post-sq-2.jpg" alt="" class="img-fluid me-3">-->
<!--                                <div>-->
<!--                                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
<!--                                    <span>What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a href="single-post.html" class="d-flex align-items-center">-->
<!--                                <img src="assets/img/post-sq-3.jpg" alt="" class="img-fluid me-3">-->
<!--                                <div>-->
<!--                                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
<!--                                    <span>Life Insurance And Pregnancy: A Working Mom’s Guide</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a href="single-post.html" class="d-flex align-items-center">-->
<!--                                <img src="assets/img/post-sq-4.jpg" alt="" class="img-fluid me-3">-->
<!--                                <div>-->
<!--                                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>-->
<!--                                    <span>How to Avoid Distraction and Stay Focused During Video Calls?</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->

<!--                    </ul>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="footer-legal fixed-bottom">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <div class="copyright">
                        © Copyright <strong><span>Sound Mind Technology</span></strong>. All Rights Reserved
                    </div>

                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

            </div>

        </div>
    </div>

</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
<script type="text/javascript">
  	CKEDITOR.replace('editor1');
  </script>

</body>

</html>